@model ToDoList
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div class="mb-3">
                    <label for="Title" class="form-label">Title</label>
                    <input type="text" class="form-control" asp-for="Title" id="username">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <input type="Description" class="form-control" asp-for="Description" id="email">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="IsDone" class="form-label">IsDone</label>
                    <input type="checkbox" class="form-check-input" asp-for="IsDone" id="IsDone">
                    <span asp-validation-for="IsDone" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="PlannedEndDate" class="form-label">PlannedEndDate</label>
                    <input type="datetime-local" class="form-control" asp-for="PlannedEndDate" id="confirm_password">
                    <span asp-validation-for="PlannedEndDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <input type="text" asp-for="UserId" value="@ViewBag.UserId" />
                </div>
                <button type="submit" class="btn btn-primary">Add ToDo</button>
            </form>
        </div>
    </div>
</div>


